@charset "windows-1251";
/* CSS Document */
body {
    background-color: gray;
}
.text {
    text-indent: 400px;
    padding-left: -100px;

}
img{
    object-fit: cover;
    float: right;
    width: 400px;
    height: 500px;

}
.content {
    width:40%;
    color: rgba(0,0,0,0.58);
    font-size: 20px;
    padding-left:400px;

}

.txt-logo {
    color: rgba(0, 0, 0, 0.58);
    font-size: 30px;        /* Розмір тексту*/
    line-height: 0.5em;     /*Відстань між рядками */
    margin-top: 12%;        /*Опустити вниз */
    text-align: left;      /*Права сторона */
    padding-left:383mm;
    /*padding-left:79%;*/


}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;       /*Товщина строки переходу*/
    color: #fafafa;
    padding: 10px 600px;        /*Товщина строки переходу*/
    display:  table;
    text-decoration: none;
    border-radius: 1110px;
    box-shadow: 0px 6px black;
    background: black;
}
a:hover {
    background: black;
}
a:active {
    position: relative;
    top: 1px;
    box-shadow: 110px 111px black;
    background: black;

}

